<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>

    <script type="text/javascript">
        let entry_js = "<%= entry_js %>";
    </script>
</head>
<body>
</body>
</html>